.circle-img{
    border-radius: 50%;
    border: 7px solid #ffffff;
    width: 120px;
    height: 120px;
}

.card{
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #00FFFF;
    margin: 50px 0;
    height: 400px;
    box-shadow: 0 2px 5px #f0eaea;
    text-align: "center";
}